<%= content_for :title, "Users" %>

<h1>User log</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "email", "Email" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
