@import "bootstrap-sprockets";
@import "bootstrap";

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: asset-data-url('up_arrow.gif');
}

th .desc {
  background-image: asset-data-url('down_arrow.gif');
}
