<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h5>Please fix the following errors:</h5>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
